.upper {
  display: flex;
  justify-content: space-between;
}
.upper_list {
  display: flex;
  justify-content: space-between;
}
.upper_list > * {
  padding: 10px;
}
.upper > * {
  padding: 10px;
  margin: 10px 5px;
}
.buttons > button {
  background-color: black;
  border-radius: 15px;
  color: white;
  border: 2px solid black;
  margin-right: 10px;
}
.buttons > button:hover {
  background-color: white;
  color: black;
}
.boderHand {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
.shop {
  animation: comedown 0.5s;
}
@keyframes comedown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0px);
  }
}
